start time = 1:43am

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

PROJ_ROOT = Path().resolve().parent
RAW_DIR = PROJ_ROOT / 'data' / 'raw'

hatecrime_df = pd.read_csv(RAW_DIR / 'FBI.csv')

hatecrime_df.head()

,Unnamed: 0,Unnamed: 1,Place,Race/ Ethnicity/ Ancestry,Religion,Sexual orientation,Disability,Gender,Gender identity,1st quarter,2nd quarter,3rd quarter,4th quarter,Population
0,Alabama,Total,Total,8.0,1,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Alabama,Cities,Total,7.0,1,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,Alabama,Cities,Hoover,5.0,1,0.0,0.0,0.0,0.0,2.0,1.0,2.0,1.0,"85,634"
3,Alabama,Cities,Ozark,2.0,0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,1.0,"14,559"
4,Alabama,Universities and Colleges,Total,1.0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [2]:
hatecrime_df.columns = ['State', 'Category', 'City', 'Race', 'Religion', 'LGBTQ', 'Disability', 'Gender', 'GenderID', '1st quarter', '2nd quarter', '3rd quarter', '4th quarter', 'population']

hatecrime_df = hatecrime_df[['State', 'Category', 'City', 'Race', 'Religion', 'LGBTQ', 'Disability', 'Gender', 'GenderID', 'population']]
hatecrime_df.head()

,State,Category,City,Race,Religion,LGBTQ,Disability,Gender,GenderID,population
0,Alabama,Total,Total,8.0,1,0.0,0.0,0.0,0.0,NaN
1,Alabama,Cities,Total,7.0,1,0.0,0.0,0.0,0.0,NaN
2,Alabama,Cities,Hoover,5.0,1,0.0,0.0,0.0,0.0,"85,634"
3,Alabama,Cities,Ozark,2.0,0,0.0,0.0,0.0,0.0,"14,559"
4,Alabama,Universities and Colleges,Total,1.0,0,0.0,0.0,0.0,0.0,NaN

In [3]:
hatecrime_df.tail()

,State,Category,City,Race,Religion,LGBTQ,Disability,Gender,GenderID,population
2295,Wyoming,Universities and Colleges,Total,1.0,0,0.0,0.0,0.0,0.0,NaN
2296,Wyoming,NaN,University of Wyoming,1.0,0,0.0,0.0,0.0,0.0,"12,366"
2297,1 Population figures are published only for th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2298,2 Includes one incident reported with more tha...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN
2299,3 Student enrollment figures were not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cities = ['Albany',
 'Albuquerque',
 'Anchorage',
 'Atlanta',
 'Augusta',
 'Austin',
 'Baltimore',
 'Baton Rouge',
 'Birmingham',
 'Boise',
 'Boston',
 'Buffalo',
 'Cape Coral',
 'Charleston',
 'Charlotte',
 'Chattanooga',
 'Chicago',
 'Cincinnati',
 'Clarksville',
 'Cleveland',
 'College Station-Bryan',
 'Colorado Springs',
 'Columbia',
 'Columbus',
 'Columbus',
 'Corpus Christi',
 'Dallas',
 'Dayton',
 'Denver',
 'Des Moines',
 'Detroit',
 'El Paso',
 'Fayetteville',
 'Fort Wayne',
 'Fresno-Bakersfield',
 'Grand Rapids',
 'Greensboro',
 'Greenville',
 'Hartford',
 'Honolulu',
 'Houston',
 'Huntsville',
 'Idaho Falls',
 'Indianapolis',
 'Jacksonville',
 'Kansas City',
 'Knoxville',
 'Lakeland',
 'Laredo',
 'Las Vegas',
 'Lexington',
 'Lincoln',
 'Little Rock',
 'Los Angeles',
 'Louisville',
 'Lubbock',
 'Macon',
 'Madison',
 'McAllen',
 'Medford',
 'Memphis',
 'Miami',
 'Milwaukee',
 'Minneapolis',
 'Mobile',
 'Modesto',
 'Montgomery',
 'Nashville',
 'New Orleans',
 'New York City',
 'Oklahoma City',
 'Omaha',
 'Orlando',
 'Philadelphia',
 'Phoenix',
 'Pittsburgh',
 'Portland',
 'Providence',
 'Raleigh',
 'Reno',
 'Richmond-Norfolk',
 'Rochester',
 'Sacramento',
 'Salt Lake City',
 'San Antonio',
 'San Diego',
 'San Francisco',
 'Savannah',
 'Seattle',
 'Shreveport',
 'Spokane',
 'Springfield',
 'Springfield',
 'St. Louis',
 'Syracuse',
 'Tallahassee',
 'Tampa',
 'Toledo',
 'Tucson',
 'Tulsa',
 'Tuscaloosa',
 'Washington',
 'Wichita']

In [5]:
#hatecrimeall_df.columns = ['City', 'Race', 'Religion', 'LGBTQ', 'Disability', 'Gender', 'Gender Identity', '1st quarter', '2nd quarter', '3rd quarter', '4th quarter', 'population']
# Race/ Ethnicity/ Ancestry	Religion	Sexual orientation	Disability	Gender	Gender identity	1st quarter	2nd quarter	3rd quarter	4th quarter	Population

hatecrimecities_df = hatecrime_df[hatecrime_df.City.isin(cities)].reset_index(drop=True)
#hatecrimeall_df.head()

In [6]:
hatecrimecities_df

,State,Category,City,Race,Religion,LGBTQ,Disability,Gender,GenderID,population
0,Alaska,Cities,Anchorage,1.0,0,0.0,0.0,0.0,0.0,"296,188"
1,Arizona,Cities,Phoenix,142.0,41,44.0,4.0,0.0,12.0,"1,644,177"
2,Arizona,Cities,Tucson,0.0,1,3.0,1.0,0.0,0.0,"532,323"
3,Arkansas,Cities,Fayetteville,0.0,0,1.0,0.0,0.0,0.0,"85,592"
4,California,Cities,Albany,1.0,0,2.0,0.0,0.0,0.0,"19,880"
5,California,Cities,Los Angeles,126.0,43,82.0,0.0,1.0,11.0,"4,007,147"
6,California,Cities,Modesto,6.0,1,3.0,0.0,0.0,0.0,"213,677"
7,California,Cities,Sacramento,2.0,2,0.0,0.0,0.0,1.0,"499,997"
8,California,Cities,San Diego,17.0,12,11.0,0.0,0.0,1.0,"1,424,116"
9,California,Cities,San Francisco,19.0,8,12.0,0.0,0.0,4.0,"881,255"
10,California,Universities and Colleges,San Francisco,0.0,2,0.0,0.0,0.0,0.0,"3,145"
11,California,Metropolitan Counties,Los Angeles,6.0,5,4.0,0.0,0.0,0.0,NaN
12,California,Metropolitan Counties,Sacramento,8.0,1,1.0,0.0,0.0,1.0,NaN
13,California,Metropolitan Counties,San Diego,7.0,0,7.0,0.0,0.0,0.0,NaN
14,Colorado,Cities,Colorado Springs,0.0,1,0.0,0.0,0.0,0.0,"472,958"
15,Colorado,Cities,Denver,9.0,2,6.0,0.0,0.0,0.0,"706,616"
16,Colorado,Metropolitan Counties,El Paso,2.0,0,1.0,0.0,0.0,0.0,NaN
17,Connecticut,Cities,Hartford,2.0,1,1.0,0.0,0.0,0.0,"122,891"
18,District of Columbia,Cities,Washington,87.0,12,56.0,1.0,0.0,13.0,"693,972"
19,Florida,Cities,Jacksonville,3.0,2,1.0,0.0,0.0,0.0,"894,638"
20,Florida,Cities,Orlando,2.0,0,3.0,0.0,0.0,0.0,"283,982"
21,Florida,Cities,Tampa,3.0,0,0.0,0.0,0.0,0.0,"384,360"
22,Florida,Metropolitan Counties,Charlotte,1.0,0,0.0,0.0,0.0,0.0,NaN
23,Georgia,Cities,Atlanta,0.0,1,2.0,0.0,0.0,0.0,"481,343"
24,Georgia,Cities,Columbus,3.0,0,1.0,0.0,0.0,0.0,"198,832"
25,Idaho,Cities,Boise,7.0,6,2.0,0.0,0.0,0.0,"225,677"
26,Illinois,Cities,Chicago,16.0,17,7.0,0.0,0.0,1.0,"2,706,171"
27,Illinois,Cities,Springfield,2.0,0,1.0,0.0,0.0,0.0,"115,568"
28,Illinois,Metropolitan Counties,Macon,1.0,0,0.0,0.0,0.0,0.0,NaN
29,Indiana,Cities,Fort Wayne,2.0,0,2.0,0.0,0.0,0.0,"266,259"
...,...,...,...,...,...,...,...,...,...,...
94,South Carolina,Cities,Greenville,0.0,1,1.0,0.0,0.0,0.0,"68,922"
95,South Carolina,Metropolitan Counties,Greenville,1.0,0,0.0,0.0,0.0,0.0,NaN
96,Tennessee,Cities,Chattanooga,3.0,0,1.0,0.0,0.0,0.0,"178,753"
97,Tennessee,Cities,Clarksville,2.0,0,2.0,0.0,0.0,0.0,"153,294"
98,Tennessee,Cities,Cleveland,7.0,0,0.0,0.0,0.0,0.0,"44,778"
99,Tennessee,Cities,Knoxville,2.0,0,3.0,0.0,0.0,0.0,"187,539"
100,Tennessee,Cities,Memphis,4.0,0,3.0,0.0,0.0,0.0,"652,765"
101,Tennessee,Metropolitan Counties,Montgomery,0.0,1,0.0,0.0,0.0,0.0,NaN
102,Tennessee,Metropolitan Counties,Washington,1.0,0,0.0,0.0,0.0,0.0,NaN
103,Texas,Cities,Austin,10.0,3,4.0,0.0,0.0,1.0,"971,949"
104,Texas,Cities,Dallas,2.0,0,12.0,0.0,0.0,0.0,"1,338,551"
105,Texas,Cities,El Paso,4.0,0,0.0,0.0,0.0,0.0,"688,667"
106,Texas,Cities,Greenville,1.0,0,0.0,0.0,0.0,0.0,"27,434"
107,Texas,Cities,Houston,2.0,3,1.0,0.0,0.0,2.0,"2,338,235"
108,Texas,Cities,Jacksonville,1.0,0,0.0,0.0,0.0,0.0,"14,955"
109,Texas,Cities,Lubbock,2.0,0,0.0,0.0,0.0,0.0,"256,335"
110,Texas,Cities,San Antonio,2.0,1,1.0,0.0,0.0,0.0,"1,520,712"
111,Texas,Metropolitan Counties,Austin,1.0,0,0.0,0.0,0.0,0.0,NaN
112,Texas,Other Agencies,Austin,0.0,1,0.0,0.0,0.0,0.0,NaN
113,Utah,Cities,Salt Lake City,2.0,1,1.0,0.0,0.0,0.0,"194,968"
114,Utah,Cities,Washington,1.0,0,1.0,0.0,0.0,0.0,"26,618"
115,Vermont,Cities,Hartford,1.0,0,0.0,1.0,0.0,0.0,"9,628"
116,Virginia,Nonmetropolitan Counties,Madison,0.0,1,0.0,0.0,0.0,0.0,NaN
117,Washington,Cities,Seattle,120.0,45,57.0,0.0,1.0,11.0,"721,365"
118,Washington,Cities,Spokane,22.0,2,3.0,0.0,1.0,0.0,"217,066"
119,Washington,Metropolitan Counties,Spokane,8.0,3,0.0,0.0,0.0,0.0,NaN
120,West Virginia,Cities,Charleston,3.0,0,1.0,0.0,0.0,0.0,"48,788"
121,Wisconsin,Cities,Madison,0.0,1,1.0,0.0,0.0,0.0,"255,850"
122,Wisconsin,Cities,Milwaukee,4.0,1,0.0,0.0,0.0,0.0,"595,168"
123,Wisconsin,Metropolitan Counties,Columbia,0.0,1,0.0,0.0,0.0,0.0,NaN

In [7]:
#if population is less than 10,000 and not zero, eliminate it
#s2r1r2r3_pa = s2r1r2r3[(s2r1r2r3['ViewingCondition'] == 'passive')

gender_df = hatecrimecities_df[(hatecrimecities_df['Gender'] > 0.0)]
gender_df

,State,Category,City,Race,Religion,LGBTQ,Disability,Gender,GenderID,population
5,California,Cities,Los Angeles,126.0,43,82.0,0.0,1.0,11.0,"4,007,147"
51,Michigan,Cities,Detroit,22.0,2,15.0,0.0,2.0,0.0,"670,792"
57,Missouri,Cities,Kansas City,34.0,5,6.0,0.0,1.0,1.0,"484,948"
117,Washington,Cities,Seattle,120.0,45,57.0,0.0,1.0,11.0,"721,365"
118,Washington,Cities,Spokane,22.0,2,3.0,0.0,1.0,0.0,"217,066"

In [8]:
LGBTQ_df = hatecrimecities_df[(hatecrimecities_df['LGBTQ'] > 0.0)]
LGBTQ_df = LGBTQ_df[['State','City','LGBTQ']]
LGBTQ_df

                    State            City  LGBTQ
1                 Arizona         Phoenix   44.0
2                 Arizona          Tucson    3.0
3                Arkansas    Fayetteville    1.0
4              California          Albany    2.0
5              California     Los Angeles   82.0
6              California         Modesto    3.0
8              California       San Diego   11.0
9              California   San Francisco   12.0
11             California     Los Angeles    4.0
12             California      Sacramento    1.0
13             California       San Diego    7.0
15               Colorado          Denver    6.0
16               Colorado         El Paso    1.0
17            Connecticut        Hartford    1.0
18   District of Columbia      Washington   56.0
19                Florida    Jacksonville    1.0
20                Florida         Orlando    3.0
23                Georgia         Atlanta    2.0
24                Georgia        Columbus    1.0
25                  Idaho           Boise    2.0
26               Illinois         Chicago    7.0
27               Illinois     Springfield    1.0
29                Indiana      Fort Wayne    2.0
30                 Kansas         Wichita    3.0
32               Kentucky       Lexington    3.0
35               Kentucky         Madison    1.0
36               Kentucky      Montgomery    1.0
42                  Maine        Portland    1.0
44          Massachusetts          Boston   33.0
48          Massachusetts     Springfield    1.0
..                    ...             ...    ...
64             New Mexico     Albuquerque    1.0
66               New York         Buffalo    2.0
67               New York       Rochester    2.0
68         North Carolina    Fayetteville    2.0
69         North Carolina      Greensboro    1.0
71         North Carolina         Raleigh    3.0
73                   Ohio      Cincinnati    4.0
75                   Ohio        Columbus   19.0
76                   Ohio          Dayton    1.0
81                   Ohio      Montgomery    2.0
85                 Oregon          Albany    1.0
86                 Oregon        Portland    3.0
90           Pennsylvania    Philadelphia    4.0
91           Pennsylvania      Pittsburgh    1.0
92           Rhode Island      Providence    2.0
94         South Carolina      Greenville    1.0
96              Tennessee     Chattanooga    1.0
97              Tennessee     Clarksville    2.0
99              Tennessee       Knoxville    3.0
100             Tennessee         Memphis    3.0
103                 Texas          Austin    4.0
104                 Texas          Dallas   12.0
107                 Texas         Houston    1.0
110                 Texas     San Antonio    1.0
113                  Utah  Salt Lake City    1.0
114                  Utah      Washington    1.0
117            Washington         Seattle   57.0
118            Washington         Spokane    3.0
120         West Virginia      Charleston    1.0
121             Wisconsin         Madison    1.0

[66 rows x 3 columns]

In [30]:
LGBTQ_df_dict = LGBTQ_df[['City','LGBTQ']]
LGBTQ_dict = LGBTQ_df_dict.to_dict('split')
new_dict = {}
LGBTQ_list = LGBTQ_dict['data']
for each in LGBTQ_list:
    new_dict[each[0]] = each[1]
print(new_dict)

{'Phoenix': 44.0, 'Tucson': 3.0, 'Fayetteville': 2.0, 'Albany': 1.0, 'Los Angeles': 4.0, 'Modesto': 3.0, 'San Diego': 7.0, 'San Francisco': 12.0, 'Sacramento': 1.0, 'Denver': 6.0, 'El Paso': 1.0, 'Hartford': 1.0, 'Washington': 1.0, 'Jacksonville': 1.0, 'Orlando': 3.0, 'Atlanta': 2.0, 'Columbus': 19.0, 'Boise': 2.0, 'Chicago': 7.0, 'Springfield': 1.0, 'Fort Wayne': 2.0, 'Wichita': 3.0, 'Lexington': 3.0, 'Madison': 1.0, 'Montgomery': 2.0, 'Portland': 3.0, 'Boston': 33.0, 'Detroit': 15.0, 'Grand Rapids': 4.0, 'Minneapolis': 8.0, 'Kansas City': 6.0, 'Lincoln': 3.0, 'Reno': 3.0, 'Albuquerque': 1.0, 'Buffalo': 2.0, 'Rochester': 2.0, 'Greensboro': 1.0, 'Raleigh': 3.0, 'Cincinnati': 4.0, 'Dayton': 1.0, 'Philadelphia': 4.0, 'Pittsburgh': 1.0, 'Providence': 2.0, 'Greenville': 1.0, 'Chattanooga': 1.0, 'Clarksville': 2.0, 'Knoxville': 3.0, 'Memphis': 3.0, 'Austin': 4.0, 'Dallas': 12.0, 'Houston': 1.0, 'San Antonio': 1.0, 'Salt Lake City': 1.0, 'Seattle': 57.0, 'Spokane': 3.0, 'Charleston': 1.0}

In [14]:
GenderID_df = hatecrimecities_df[(hatecrimecities_df['GenderID'] > 0.0)]
GenderID_df = GenderID_df[['State','City','GenderID']]
GenderID_df

                    State           City  GenderID
1                 Arizona        Phoenix      12.0
5              California    Los Angeles      11.0
7              California     Sacramento       1.0
8              California      San Diego       1.0
9              California  San Francisco       4.0
12             California     Sacramento       1.0
18   District of Columbia     Washington      13.0
26               Illinois        Chicago       1.0
32               Kentucky      Lexington       1.0
43               Maryland      Baltimore       1.0
44          Massachusetts         Boston       1.0
48          Massachusetts    Springfield       1.0
57               Missouri    Kansas City       1.0
90           Pennsylvania   Philadelphia       3.0
103                 Texas         Austin       1.0
107                 Texas        Houston       2.0
117            Washington        Seattle      11.0

In [11]:
hatecrimecities_df.columns

Index(['State', 'Category', 'City', 'Race', 'Religion', 'LGBTQ', 'Disability',
       'Gender', 'GenderID', 'population'],
      dtype='object')